<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Copyright &copy; Biblios - Tous droits réservés 2024</p>
    <p class="mb-0">made by <a class="text-primary" href="https://www.linkedin.com/in/baptiste-fotia">Baptiste Fotia</a></p>
  </div>
</footer>
