{% extends 'base.html.twig' %}

{% block title %}Erreur inconnue{% endblock %}

{% block body %}
    <div class="custom-bg text-dark">
        <div class="d-flex align-items-center justify-content-center min-vh-100 px-2">
            <div class="text-center">
                <h1 class="display-1 fw-bold">Erreur inconnue</h1>
                <p class="fs-2 fw-medium mt-4">Hmmm... Étrange.</p>
                <p class="mt-4 mb-5">Impossible de déterminer l'origine du problème.</p>
                <a href={{ path('app_random_image') }} class="btn btn-primary fw-semibold rounded-pill px-4 py-2 custom-btn">
                    Retourner à la page d'accueil
                </a>
            </div>
        </div>
    </div>
{% endblock %}
